* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    font-size: 18px;
    text-align: center;
}

#materias {
    padding: 40px;
}

.materias-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 10px 20px;
    background-color: #5022a7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #351c7d;
    transform: scale(1.05);
}

#voltar {
    margin-top: 20px;
}

#voltar button {
    padding: 8px 16px;
    background-color: #5022a7;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#voltar button:hover {
    background-color: #351c7d;
    transform: scale(1.05);
}
